{{ define "errorPage"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <!-- <link href="public/output.css" rel="stylesheet" type="text/css">
    <link href="public/fonts.css" rel="stylesheet" type="text/css"> -->
    <script src="public/htmx.min.js"></script>
    <title>Error page</title>
</head>

<body>
    <div class="flex gap-5 flex-col w-full justify-center items-center h-screen text-3xl">
        <p>{{ .Code }}</p>
        <p>{{ .Message }}</p>
        <a href="/" class="p-2 border-2 hover:bg-green-400 hover:text-white rounded-xl">Back</a>
    </div>
</body>

</html>
{{ end }}