{{ define "index" }}
<!DOCTYPE html>
<html lang="en" xml:lang="en" data-theme="autumn">

<head>
  <title>Todo APP HTMX</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="public/style.css">
  <link rel="stylesheet" href="public/fonts.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="public/htmx.min.js"></script>
  <script src="public/script.js"></script>
</head>

<body class="bg-base-200 text-base-content">
  {{template "userNavbar"}}
  <div id="errors"></div>
  <div class="w-full flex items-center gap-5 flex-col p-3 h-screen">
    <!-- Form data-->
    {{ template "todoForm" }}
    <ul id="rend" class="list bg-base-100 rounded-box shadow-md">
      {{ range $val := . }}
      {{ template "add" $val }}
      {{ end }}
    </ul>
  </div>
</body>

</html>
{{ end }}

{{ block "todoForm" . }}
<button class="btn btn-accent w-1/3" onclick="add_modal.showModal()">Create New Task</button>
<dialog id="add_modal" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <form hx-post="/tasks" hx-target="#rend" hx-target-error="#errors" hx-swap="beforeend" class="flex gap-3 flex-col">
      <label class="floating-label">
        <input placeholder="Task name here..." name="title" type="text" id="title"
          class="input input-md w-full validator" required size="100">
        <span>Task name here...</span>
      </label>
      <label class="floating-label">
        <input placeholder="Description" name="description" type="text" id="description"
          class="input input-md w-full validator" size="1000">
        <span>Description</span>
      </label>
      <div>
        <label class="input validator">
          <span class="label">Due Date</span>
          <input type="date" name="dueDate" id="dueDate" required min="2025-01-01" max="2025-12-31" />
        </label>
      </div>
      <div>
        <input type="reset" class="btn btn-accent btn-outline" />
        <button type="submit" class="btn btn-accent">Add Task</button>
      </div>
    </form>
    <div class="modal-action absolute right-3 bottom-4 p-2">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Cancel</button>
      </form>
    </div>
  </div>
</dialog>
{{ end }}

{{ block "add" . }}
<li id="{{.ID}}" class="list-row w-full">
  {{ if .IsDone }}
  <div class="">
    <p class="line-through italic list-col-grow">{{.Title}}</p>
    <p class="line-through italic text-xs opacity-60 list-col-wrap">{{.Description}}</p>
  </div>
  <button hx-confirm="Really Delete??" hx-delete="/tasks/{{.ID}}/delete" hx-target="#{{.ID}}" hx-swap="outerHTML"
    class="btn btn-circle btn-ghost">
    <i class="fa-solid fa-trash"></i>
  </button>
  {{ else }}
  <div class="">
    <div class="text-xl list-col-grow">{{.Title}}</div>
    <div class="text-xs font-semibold list-col-wrap opacity-70">{{.Description}}</div>
    <div><br />Due on: <span class="text-red-300">{{.DueDate}}</span></div>
  </div>
  <div>
    <button hx-put="/tasks/{{.ID}}/done" hx-target="#{{.ID}}" hx-target-error="#errors" hx-swap="outerHTML"
      class="btn btn-circle btn-ghost">
      <i class="fa-solid fa-check"></i>
    </button>
    {{ template "update-task" .}}
    <button hx-confirm="Really Delete??" hx-delete="/tasks/{{.ID}}/delete" hx-target="#{{.ID}}" hx-swap="outerHTML"
      class="btn btn-circle btn-ghost">
      <i class="fa-solid fa-trash"></i>
    </button>
  </div>
  {{ end }}
</li>
{{ end }}

{{ block "userNavbar" .}}
<div class="navbar border-b-2 border-accent p-2">
  <div class="flex-1">
    <a class="btn btn-ghost text-2xl">Todo App</a>
    <a href="/?page=api" class="btn btn-ghost">API Specification</a>
  </div>
  <div class="flex-none gap-2">
    <button hx-post="/logout" hx-target-error="#errors" class="btn btn-outline">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
    </button>
  </div>
</div>
</div>
{{ end }}

{{block "update-task" .}}
<button id="up_btn_{{.ID}}" class="btn btn-circle btn-ghost" onclick=updateModal({{.ID}})>
  <i class="fa-solid fa-pen"></i>
</button>
<dialog id="update_{{.ID}}" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <form hx-put="/tasks/{{.ID}}" hx-target="#{{.ID}}" hx-target-error="#errors" hx-swap="outerHTML"
      class="flex gap-3 flex-col">
      <label class="floating-label">
        <input placeholder="Task name here..." name="title" type="text" id="title"
          class="input input-md w-full validator" required size="100">
        <span>Task name here...</span>
      </label>
      <label class="floating-label">
        <input placeholder="Description" name="description" type="text" id="description"
          class="input input-md w-full validator" size="1000">
        <span>Description</span>
      </label>
      <div>
        <label class="input validator">
          <span class="label">Due Date</span>
          <input type="date" name="dueDate" id="dueDate" required min="2025-04-02" max="2025-12-31" />
        </label>
      </div>
      <div>
        <input type="reset" class="btn btn-accent btn-outline" />
        <button type="submit" class="btn btn-accent">Update Task</button>
      </div>
    </form>
    <div class="modal-action absolute right-3 bottom-4 p-2">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Cancel</button>
      </form>
    </div>
  </div>
</dialog>
{{end}}