{{define "index"}}
<!DOCTYPE html>
<html lang="en" xml:lang="en">

<head>
  <title>Todo APP HTMX</title>
  <meta content="text/html; charset=utf-8" />
  <script src="https://unpkg.com/htmx.org@1.9.11/dist/htmx.js"
    integrity="sha384-l9bYT9SL4CAW0Hl7pAOpfRc18mys1b0wK4U8UtGnWOxPVbVMgrOdB+jyz/WY8Jue"
    crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
    rel="stylesheet">


  <style>
    .font-monteserrat {
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400px;
      font-style: normal;
    }

    .font-nunito {
      font-family: "Nunito", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400px;
      font-style: normal;
    }

    alert{
      font-weight: 400px;
      font-size: 60px;
    }
  </style>
</head>

<body class="bg-[#EDE8F5] text-[#3D52A0]">
  <div class="flex min-w-full gap-3 divide-y divide-gray-200 min-h-[95vh] sm:flex-col lg:flex-row font-nunito">
    <div class="lg:w-1/3 flex flex-col m-5 sm:w-[95vw]">
      <h1 class="text-2xl text-center font-bold h-20 justify-center">TODO APP</h1>
      <form hx-post="/add" hx-target="#rend" hx-swap="beforeend" class="w-full text-center flex gap-3 flex-col">
        <input placeholder="Task Title*" name="task" type="text"
          class="border-[#7091E6] border rounded p-2 w-full text-wrap h-auto bg-[#EDE8F5] text-[#3D52A0]"></input>
        <input placeholder="Task Description" name="desc" type="text"
          class="border-[#7091E6] border rounded p-2 w-full text-wrap h-auto bg-[#EDE8F5] text-[#3D52A0]"></input>
        <button type="submit"
          class="border-[#7091E6] border rounded p-2 bg-[#7091E6] text-white hover:bg-[#3D52A0] w-auto mx-auto text-[#FFFFFF] transition ease-in-out duration-300 hover:scale-110">
          <span class="flex items-center text-center justify-center"> <svg width="30px" height="30px"
              viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="Edit / Add_Plus">
                <path id="Vector" d="M6 12H12M12 12H18M12 12V18M12 12V6" stroke="#FFFFFF" stroke-width="1"
                  stroke-linecap="round" stroke-linejoin="round" />
              </g>
            </svg>Add Task</span></button>
      </form>
      <div class="h-full m-5" id="pomodore">
        {{template "pomodore"}}
      </div>
    </div>
    <div class="lg:w-2/3 lg:h-[95vh] relative overflow-x-auto shadow-md rounded-lg m-5 sm:w-[95vw] sm:h-[55vh]"
      id="rend">
    </div>
  </div>
</body>

</html>
{{end}}


{{block "add" .}}
<div id="{{.TagID}}"
  class="bg-[#EDE8F5] text-[#3D52A0] flex shadow-md shadow-[#ADBBDA] m-5 border-2 rounded-md border-[#7091E6] hover:shadow-xl gap-5 h-auto w-auto p-3 flex-col">
  {{if .IsDone}}
  <p class="line-through italic text-wrap whitespace-nowrap text-[#3D52A0]">{{.Title}}</p>
  <p class="line-through italic text-wrap whitespace-nowrap text-[#3D52A0]">{{.Desc}}</p>
  <button hx-confirm="Really Delete??" hx-delete="/delete/{{.ID}}" hx-target="#{{.TagID}}" hx-swap="outerHTML"
    class="font-medium text-red-600 dark:text-red-500 hover:underline"><svg width="35px" height="35px"
      viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M6.99486 7.00636C6.60433 7.39689 6.60433 8.03005 6.99486 8.42058L10.58 12.0057L6.99486 15.5909C6.60433 15.9814 6.60433 16.6146 6.99486 17.0051C7.38538 17.3956 8.01855 17.3956 8.40907 17.0051L11.9942 13.4199L15.5794 17.0051C15.9699 17.3956 16.6031 17.3956 16.9936 17.0051C17.3841 16.6146 17.3841 15.9814 16.9936 15.5909L13.4084 12.0057L16.9936 8.42059C17.3841 8.03007 17.3841 7.3969 16.9936 7.00638C16.603 6.61585 15.9699 6.61585 15.5794 7.00638L11.9942 10.5915L8.40907 7.00636C8.01855 6.61584 7.38538 6.61584 6.99486 7.00636Z"
        fill="#EF4444" />
    </svg></button>
  {{else}}
  <p class="font-normal text-wrap whitespace-nowrap text-[#320323] text-3xl font-mono">{{.Title}}</p>
  <p class="font-light text-wrap whitespace-nowrap text-[#555555] font-monteserrat">{{.Desc}}</p>
  <div class="flex w-full flex-row-reverse gap">
    <button hx-confirm="Really Delete??" hx-delete="/delete/{{.ID}}" hx-target="#{{.TagID}}" hx-swap="outerHTML"
      class="p-2 w-auto hover:border hover:rounded-full hover:border-[#EF4444] hover:animate-spin"><svg width="35px"
        height="35px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M6.99486 7.00636C6.60433 7.39689 6.60433 8.03005 6.99486 8.42058L10.58 12.0057L6.99486 15.5909C6.60433 15.9814 6.60433 16.6146 6.99486 17.0051C7.38538 17.3956 8.01855 17.3956 8.40907 17.0051L11.9942 13.4199L15.5794 17.0051C15.9699 17.3956 16.6031 17.3956 16.9936 17.0051C17.3841 16.6146 17.3841 15.9814 16.9936 15.5909L13.4084 12.0057L16.9936 8.42059C17.3841 8.03007 17.3841 7.3969 16.9936 7.00638C16.603 6.61585 15.9699 6.61585 15.5794 7.00638L11.9942 10.5915L8.40907 7.00636C8.01855 6.61584 7.38538 6.61584 6.99486 7.00636Z"
          fill="#EF4444" />
      </svg></button>
    <button hx-put="/done/{{.ID}}" hx-target="#{{.TagID}}" hx-swap="outerHTML"
      class="p-2 w-auto hover:border hover:rounded-full hover:border-[#008000]"><svg width="35px" height="35px"
        viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 14L8.23309 16.4248C8.66178 16.7463 9.26772 16.6728 9.60705 16.2581L18 6" stroke="#008000"
          stroke-width="2" stroke-linecap="round" />
      </svg></button>
    <button button hx-on:click="alert('BOMB Has been planted!!! &#127757;')" hx-target="#{{.TagID}}" hx-swap="outerHTML"
      class="p-2 hover:border hover:rounded-full hover:border-[#7091E6]">
      <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M20.8477 1.87868C19.6761 0.707109 17.7766 0.707105 16.605 1.87868L2.44744 16.0363C2.02864 16.4551 1.74317 16.9885 1.62702 17.5692L1.03995 20.5046C0.760062 21.904 1.9939 23.1379 3.39334 22.858L6.32868 22.2709C6.90945 22.1548 7.44285 21.8693 7.86165 21.4505L22.0192 7.29289C23.1908 6.12132 23.1908 4.22183 22.0192 3.05025L20.8477 1.87868ZM18.0192 3.29289C18.4098 2.90237 19.0429 2.90237 19.4335 3.29289L20.605 4.46447C20.9956 4.85499 20.9956 5.48815 20.605 5.87868L17.9334 8.55027L15.3477 5.96448L18.0192 3.29289ZM13.9334 7.3787L3.86165 17.4505C3.72205 17.5901 3.6269 17.7679 3.58818 17.9615L3.00111 20.8968L5.93645 20.3097C6.13004 20.271 6.30784 20.1759 6.44744 20.0363L16.5192 9.96448L13.9334 7.3787Z"
          fill="#7091E6" />
      </svg>
    </button>
  </div>
  {{end}}
</div>
{{end}}


{{block "pomodore" . }}
<p
  class="border border-[#7091E6] rounded-xl animate-pulse p-10 text-red-500 text-5xl font-mono text-bold h-full items-center w-full mx-auto sm:text-center transition">
  Something coming soon.....</p>
{{end}}